.container {
    max-width: 800px;
    overflow-x: scroll;

} 

.connection_status_online {
    padding: 5px 10px;
    color: black;
    background-color: white;
    /* 'Online' status */
    text-align: center;
    border-radius: 5px;
    /* Rounded corners for aesthetics */
    border: none;
    /* No border for a flat appearance */
    cursor: default;
    /* Default cursor to indicate non-interactivity */
    box-shadow: none;
    /* No shadow to flatten the appearance */
}


.connection_status_offline {
    padding: 5px 10px;
    color: red;
    background-color: white;
    /* 'Online' status */
    text-align: center;
    border-radius: 5px;
    /* Rounded corners for aesthetics */
    border: none;
    /* No border for a flat appearance */
    cursor: default;
    /* Default cursor to indicate non-interactivity */
    box-shadow: none;
    /* No shadow to flatten the appearance */
}


.connection_status_unknown {
    padding: 5px 10px;
    color: white;
    background-color: orange;
    /* 'Online' status */
    text-align: center;
    border-radius: 5px;
    /* Rounded corners for aesthetics */
    border: none;
    /* No border for a flat appearance */
    cursor: default;
    /* Default cursor to indicate non-interactivity */
    box-shadow: none;
    /* No shadow to flatten the appearance */
}


.input-group {
    margin-bottom: 10px;
}


body {
    font-family: Arial, sans-serif;
}

.sidebar {
    flex: 0 0 200px; /* Fixed width for the sidebar */
    max-width: 200px; /* Maximum width for the sidebar */
    min-width: 150px; /* Minimum width for the sidebar */
    background-color: #f0f0f0; /* Optional: background color for visibility */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Allow vertical scrolling for sidebar */
}

.main-content {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;

    flex: 1; /* Take up the remaining space */

}


.question-circle {
    display: inline-flex; /* Aligns the text in the middle */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 24px; /* Circle width */
    height: 24px; /* Circle height */
    background-color: green; /* Circle background color */
    border-radius: 50%; /* Makes the element a circle */
    color: white; /* Text color for the question mark */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the question mark */
}