venv/*
src/server/uploads
src/explore/*
*.pyc
src/node/uploads/*

src/reportProcessor/dev/
src/reportProcessor/src/reports
src/server/server.py
src/reportProcessor/src/scratch_ray.py
src/server/static/stratch.html
src/device/devenv/

src/device/device.py
src/server/server/server.py
src/server/server/__init__.py
src/server/server/common.py
src/server/server/debug_print.py
src/server/server/serverUtils.py
src/server/Dockerfile.deploy
*.orig

.vscode/settings.json
